+1

+1  
There is a workaround to close ws connection with custom close code (4000-4999) as defined in [RFC6455 section 7.4.2](https://tools.ietf.org/html/rfc6455#section-7.4.2). It's not so good because it requires to open connection. And it would be really nice if we could handle the HTTP response code.